---
layout: page.njk
title: "404: This talk is not on the agenda"
description: "The page you are looking for does not exist, or it moved."
permalink: /404.html
noindex: true
eleventyExcludeFromCollections: true
---

<div class="not-found">
    <p>Maybe the link has a typo, or the page is still being written. These places definitely exist:</p>
    <p class="not-found-actions">
        <a class="not-found-button" href="/">Go to the home page</a>
        <a href="/#subscribe">Get notified about tickets and speakers</a>
    </p>
</div>
