{# Click-to-load: Google is only contacted after the visitor clicks. #}
<div class="deck-embed">
  <button type="button" class="gh-head-button" data-deck-src="https://docs.google.com/presentation/d/e/2PACX-1vTllfQCkv9u_ANWpsaUYo15bjB8D_qwb6LPFmO9Wk6iHUV9Uaf8-WJYre2Gl-S1Zfdh74KdLVPyUqox/pubembed?start=false&loop=false&delayms=3000" data-deck-title="DevFest Berlin 2026 sponsorship deck">
    Load the sponsorship deck (Google Slides)
  </button>
  <p><small>Loading the deck connects to Google. See our <a href="/datenschutz/">privacy notice</a>.</small></p>
</div>
